<div class="blank-layout-container justify-content-center align-items-center">
  <div
    class="position-relative overflow-hidden auth-bg min-vh-100 h-100 w-100 d-flex align-items-center justify-content-center"
  >
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100 my-5 my-xl-0">
        <div class="col-sm-9 d-flex flex-column justify-content-center">
          <div
            class="bg-white mb-0 rounded auth-login m-auto w-100 overflow-hidden"
          >
            <div class="row gx-0">
              <!-- ------------------------------------------------- -->
              <!-- Part 1 -->
              <!-- ------------------------------------------------- -->
              <div class="col-lg-6 b-r-1 p-r-0">
                <div class="row justify-content-center p-y-24">
                  <div class="col-lg-11">
                    <div class="p-30">
                      <a [routerLink]="['/']">
                        <img
                          src="./assets/images/logos/logoPmt.svg"
                          class="align-middle m-2"
                          alt="logo"
                        />
                      </a>
                      <h4 class="f-w-700 f-s-34 m-t-24 m-b-8">
                        Se connecter
                      </h4>

                      <form
                        class="m-t-30"
                        [formGroup]="form"
                        (ngSubmit)="onSubmit()"
                      >
                        <mat-label
                          class="f-s-14 f-w-600 m-b-12 d-block"
                          >Email</mat-label
                        >
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <input [(ngModel)]="email" name="email" matInput formControlName="uname" />

                        </mat-form-field>

                        <!-- password -->
                        <div
                          class="d-flex align-items-center justify-content-between m-b-12"
                        >
                          <mat-label class="f-s-14 f-w-600 d-block">Mot de Passe</mat-label>
                          <a
                            [routerLink]="['/authentication/boxed-forgot-pwd']"
                            class="text-primary f-w-600 text-decoration-none m-l-auto f-s-12"
                            >Mot de passe oublié ?</a
                          >
                        </div>

                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          color="primary"
                        >
                          <input [(ngModel)]="password" name="password" matInput type="password" formControlName="password" />

                        </mat-form-field>

                        <div class="m-b-12">
                          <mat-checkbox color="primary"
                            >Se souvenir de moi</mat-checkbox
                          >
                        </div>
                        <button
                          mat-flat-button
                          color="primary"
                          class="w-100"
                          [disabled]="!form.valid"
                        >
                          Se connecter
                        </button>
                        <!-- input -->
                      </form>
                      <span class="d-block f-w-500 d-block m-t-24"
                        >Vous êtes nouveaux ?
                        <a
                          [routerLink]="['/authentication/boxed-register']"
                          class="text-decoration-none text-primary f-w-500 f-s-14"
                        >
                          Créer votre compte</a
                        >
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- ------------------------------------------------- -->
              <!-- Part 2 -->
              <!-- ------------------------------------------------- -->
              <div class="col-lg-6 d-none d-lg-block">
                <div
                  class="row justify-content-center align-items-center h-100"
                >
                  <div class="col-lg-9">
                    <div
                      class="d-flex align-items-center justify-content-center w-100 h-100 flex-column gap-9 text-center"
                    >
                      <img
                        src="/assets/images/backgrounds/login-side.png"
                        alt="login-side-img"
                        width="300"
                        class="img-fluid"
                      />
                      <h4 class="mb-0 f-s-22 m-y-20">Feature Rich 3D Charts</h4>
                      <p class="f-s-15 m-b-20 m-t-0 mat-body-1">
                        Donec justo tortor, malesuada vitae faucibus ac,
                        tristique sit amet massa. Aliquam dignissim nec felis
                        quis imperdiet.
                      </p>
                      <button mat-flat-button color="primary">
                        Learn More
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
